@model IEnumerable<FileSharing.Areas.Admin.Models.ContactUsViewModel>
@{
    ViewData["Title"] = "Contacts";
}



<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>subject</th>
                            <th>Phone</th>
                            <th>Details</th>
                            <th>Change Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.SentDate</td>
                            <td><span class="tag @(item.Status ? "tag-success" : "tag-danger")">@(item.Status ? "Closed" : "Opened")</span></td>
                            <td>@item.Subject</td>
                            <td>@item.Phone</td>
                            <td>
                                <a asp-action="Details" asp-controller="ContactUs" asp-area="Admin" asp-route-Id="@item.Id">Details</a>
                            </td>
                            <td>
                                <form asp-action="ChangeStatus" asp-controller="ContactUs" asp-area="Admin" id="status-form-@item.Id" >
                                    <input type="hidden" name="id" value="@item.Id"/>
                                    <select onchange="document.getElementById('status-form-@item.Id').submit()" name="status"class="form-control">
                                        <option value="">select status</option>
                                        <option value="false">Open</option>
                                        <option value="true">Closed</option>
                                    </select>
                                </form>
                              
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->